.carousel {

    display: flex;
    overflow: auto;
    max-width: 80rem;



}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation: spin 22s infinite linear;
    padding-right: 1rem;

}

.proj {
    flex: 0 0 5rem;
    padding: 1rem;


}

img {
    width: 22rem;
}


@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }

}
