.bg-image {
    background-image: url("/mr_mrs_Bembry2.jpg");
    max-width: 1200px;
    min-height: 100vh;
    background-size: cover;
}

.bg-image2 {
    background-image: url("/mr_mrs_Bembry3.jpg");
    max-width: 1200px;
    min-height: 100vh;
    background-size: cover;
}

.MuiToolbar-root {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.MuiToolbar-root a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    padding: 0 12px;
}

.MuiToolbar-root .MuiButton-root {
    margin-left: 16px;
}

.Hero{
    font-size: 1.5rem;
    font-style: oblique;

}
